body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}

h3{
    margin:5px 0 5px 0;
}

.well{
    padding:10px;
}

@media (min-width: 768px){
  #khb-treelist-container {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 25%;
    overflow-y: scroll; 
  }
  
  #khb-clips-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 75%;
  }
}

#khb-treelist-container{
    height:100%;
    text-align:left;
    padding:0px 0px 0px 0px;
}

#khb-treelist-filter-container{
    padding:10px 10px 0px 10px;
}

div.khb-treelist-subtree-container{
    margin-left:5px;
}

ul.khb-treelist-subtree{
    list-style-type: none;
    background: white url(graphics/tree-vline.png) repeat-y;
    margin: 0 0 0 7px;
    padding-left:10px;
}

ul.khb-treelist-subtree > li{
    margin-bottom:4px;
    margin-left:-10px;
    cursor:pointer;
    padding: 0 12px;
    line-height: 20px;
    background: url(graphics/tree-item.png) no-repeat;
    color: #369;
    font-weight: bold;
}
ul.khb-treelist-subtree > li:last-child{
    background: #fff url(graphics/tree-lastitem.png) no-repeat;
}

div.khb-treelist-node{
    line-height: 1em;
}

div.khb-treelist-activenode{
    padding:4px;
    background-color:lightgray;
}

i.khb-treelist-icon {
    cursor:pointer;
}

#khb-clips-container{
    height:100%;
    text-align:left;
    padding:5px;
}

div.khb-clipslist-container{
    padding-top:5px;
}

i.khb-clipslist-icon{
    color:gray;
}

#khb-exportpreview-textarea{
    height:300px;
}