body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}

h3{
    margin:5px 0 5px 0;
}

.well{
    padding:10px;
}

@media (min-width: 768px){
  #khb-titlelist-container {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 25%;
    overflow-y: scroll; 
  }
  
  #khb-clipscontainer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 75%;
  }
}

#khb-titlelist-container{
    height:100%;
    text-align:left;
    padding:0px 0px 0px 0px;
}

.khb-titlelist-titlerow{
    font-size:.9em;
    font-weight:bold;
    border-bottom:2px solid gray;
    padding:5px 5px 5px 5px;
    cursor:pointer;
}

.khb-titlelist-titlerow-active{
    background-color:#EFEFEF;
}

#khb-clipscontainer{
    height:100%;
    text-align:left;
    padding:5px;
}

div.khb-clipslist-container{
    padding-top:5px;
}

i.khb-clipslist-icon{
    color:gray;
}

#khb-exportpreview-textarea{
    height:300px;
}